<!DOCTYPE html>
<html>
<head>
	<title></title>
	{% load static %}
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

	<!-- Font Awsome -->
	<link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<style type="text/css">
.navbar{
		background-color:#7F38EC;
		color:#FFFFFF; 
		font-size: 15px;
		border:0;
		padding: 10px;
	}
body, html {
			height: 100%;
 			width: 100%;
			}
body{
	background-image: linear-gradient(rgba(0, 0, 0,0.5), rgba(0, 0, 0,0.5)),url('/static/picture/JOURNEY.jpg');
	background-size: cover; 
	background-repeat: no-repeat;
	}

p{
	color: white;
	font-size: 16px;
}
</style>
</head>
<body id="home">

<!--- NavBar -->
<nav class="navbar navbar-inverse">  <!-- navbar-default -->
	<div class="container"> 
		<div class="navbar-header">
			<a href="#" class="navbar-brand">MY COMPANY</a>
		</div>
		<ul class="nav navbar-nav navbar-right" style="float: right;">
			<li> <a href="/">BACK TO HOMEPAGE</a> </li>
			<li> <a href="#">CONTACT</a> </li>
		</ul>
	</div>
</nav>

<div class="container" style="text-align:center;" >
	<h3 style="color: white;">Experience a happy journey with us</h3><br>
	<p>
		Welcome to [store name], your number one source for all things [product, ie: shoes, bags, dog treats]. We're dedicated to giving you the very best of [product], with a focus on [three characteristics, ie: dependability, customer service and uniqueness.]
		<p>
		<p>Founded in [year] by [founder's name], [store name] has come a long way from its beginnings in a [starting location, ie: home office, toolshed, Houston, TX.]. When [store founder] first started out, his/her passion for [passion of founder, ie: helping other parents be more eco-friendly, providing the best equipment for his fellow musicians] drove him to [action, ie: do intense research, quit her day job], and gave him the impetus to turn hard work and inspiration into to a booming online store. We now serve customers all over [place, ie: the US, the world, the Austin area], and are thrilled to be a part of the [adjective, ie: quirky, eco-friendly, fair trade] wing of the [industry type, ie: fashion, baked goods, watches] industry.
		</p>
		<p>
			We hope you enjoy our products as much as we enjoy offering them to you. If you have any questions or comments, please don't hesitate to contact us.
		</p>
		<p>
			Sincerely,
			Name, [title, ie: CEO, Founder, etc.]
		</p>
</div>
</body>
</html>

	
