<!DOCTYPE html>
<html>
<head>
	<title>forgot password</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
	<script type="text/javascript" src="{% static '/js/forgot_pass.js' %}"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <!-- Font Awsome -->
  	<link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

 	<style type="text/css">

   	body{
	      background-image: linear-gradient(rgba(0, 0, 0,0.5), rgba(0, 0, 0,0.5)),url('/static/picture/emp6.jpg');
	      background-repeat: no-repeat;
	      background-size:cover;
	      font-family:Arial;
  		}
  		
  }

	</style>
</head>
<body>
	<nav class="navbar navbar-inverse">  <!-- navbar-default -->
        <div class="container">
            <ul class="nav navbar-nav navbar-right">
                <li> <a href="/"><i class="fa fa-home"></i>&nbsp&nbspHOME</a></li>
                <li><a class="active "href="/log"><i class="fa fa-unlock"></i>&nbsp&nbspLOGIN</a></li>
            </ul>
        </div>
 	</nav>
		 	<!-- LOGN IN FORM  -->
<form class="form-horizontal" action="/forgotpassword" method="POST" name="myform3" onsubmit="return forgot()">
  {% csrf_token %}
   <!--   con = Container  for items in the form-->
   <div class="con">
   <!--     Start  header Content  -->
   <header class="head-form">
      <h2>Forgot Password</h2>
      <!--     A welcome message or an explanation of the login form -->
   </header>
   <!--     End  header Content  -->
   <br>
   <div class="field-set">
     
      <!--   user name -->
         <span class="input-item">
           <i class="fa fa-envelope"></i>
         </span>
        <!--   user name Input-->
         <input class="form-input" id="txt-input" name="email" type="email" placeholder="@Email">
     
      <br>
     
           <!--   Password -->
     
      <span class="input-item">
        <i class="fa fa-key"></i>
       </span>
      <!--   Password Input-->
      <input class="form-input" type="password" placeholder="Password" id="pwd"  name="newpass">
     
     <br>
      <br>
<!--        buttons -->
      <button class="btn btn-info" type="submit"> Submit </button>
   </div>     
<!--   End Conrainer  -->
  </div>
  
  <!-- End Form -->
</form>
</body>
</html>