#navbar1{
		margin-bottom:0;
		border-radius:0;
		background-color: #7F38EC;
		color:white; 
		padding:1% 0;
		font-size: 15px;
		border:0;
	}
	.navbar-brand{
		float:left;
		min-height:55px;
		padding:0 15px 5px;
	}
	.navbar-inverse.navbar-nav.active a,.navbar-inverse.navbar-nav.active a:focus,.navbar-inverse.navbar-nav.active a:hover{
		color:#FFFFFF;
		background-color: #7F38EC;
	}
	.navbar-inverse .navbar-nav li a{
		color:#D5D5D5;
	}

	.carousel-caption{
		top:30%;
		transform: translateY(-50%);
		text-transform: uppercase;
	}
	.btn{
		height:50px;
		width: 100px;
		color:#FFFFFF;
		padding:12px 22px;
		background-color:#7F38EC;
		border:2px solid black;
		border-color: white;
	}
	.carousel .item
	{
  		height: 400px;
	}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color:white ;
  padding: 10px;
}
.grid-item {
  background-color:white;
  padding: 10px;
  font-size: 15px;
  text-align: center;
}